@import "tailwindcss";

@theme {
    --color-minelate-background-dark: #000621;
    --color-minelate-background-light: #03172d;
    --color-minelate-background-lighter: #052242;
    --color-minelate-accent-dark: var(--color-blue-700);
    --color-minelate-accent-light: var(--color-blue-500);

    --font-comic: "Comic Relief";
    --font-baloo: "Baloo Paaji 2";
    --font-dyna: "DynaPuff";
}

:root {
    font-family: var(--font-baloo), sans-serif;
}